Oficina Virtual/Oficina Virtual.Android/bin/
Oficina Virtual/Oficina Virtual.Android/obj/
Oficina Virtual/Oficina Virtual.iOS/bin/
Oficina Virtual/Oficina Virtual.iOS/obj/
Oficina Virtual/Oficina Virtual/bin/
Oficina Virtual/Oficina Virtual/obj/
